<template>
  <div>
    <a v-if="external" :href="to" target="_blank" class="more-btn" :style="{ background, color ,cursor }">
      <span class="more-text">{{text}}</span>
      <more-icon />
    </a>
    <router-link v-else class="more-btn" :style="{ background, color, cursor }" :to="to">
      <span class="more-text">{{text}}</span>
      <more-icon />
    </router-link>
  </div>
</template>

<script>
import colors from '@/colors';
import MoreIcon from '../MoreIcon';

export default {
  name: 'more-btn',
  components: { MoreIcon },
  props: {
    to: String,
    text: {
      type: String,
      default: 'More',
    },
    background: {
      type: String,
      default: colors.primary,
    },
    color: {
      type: String,
      default: 'white',
    },
    cursor: {
      type: String,
      default: 'pointer',
    },
  },
  computed: {
    external() {
      return this.to && this.to.startsWith('http');
    },
  },
};
</script>

<style scoped>
.more-btn {
  border: none;
  font-size: 1.25em;
  padding: 0.25em 2em 0.25em 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 12rem;
  max-width: 100%;

}

.more-text {
  line-height: 1;
  padding-top: 0.2em;
}

</style>
