<template>
  <slick class="wrapper" :options="slickOptions">
    <div
      v-for="(image, index) in images"
      :key="`img-${index}`"
    >
      <div class="slick-img" :style="{ backgroundImage: `url(${image})`, height }" />
    </div>
  </slick>
</template>

<script>
import Slick from 'vue-slick';
import 'slick-carousel/slick/slick.css';
import { subscribe } from 'subscribe-ui-event';

export default {
  name: 'fullsize-slick',
  mounted() {
    this.subscription = subscribe('resize', this.handleResize);
    this.handleResize();
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  props: {
    images: Array,
  },
  components: { Slick },
  data() {
    return {
      width: '100%',
      height: '100%',
      slickOptions: {
        arrows: false,
        dots: true,
      },
    };
  },
  methods: {
    handleResize() {
      const { height } = this.$el.getBoundingClientRect();
      this.height = `${height}px`;
    },
  },
};
</script>

<style scoped>
.wrapper {
  width: 100%;
  height: 100%;
}

.slick-img {
  background-size: contain;
  background-position: 50% 50%;
}
</style>
