<template>
  <image-bg
    :src="src"
    :style="{ width, position: 'absolute' }"
    loaderColor="white"
  />
</template>

<script>
import { subscribe } from 'subscribe-ui-event';

import isMobile from '@/utils/isMobile';
import ImageBg from '../ImageBg';

export default {
  name: 'photo-extender',
  mounted() {
    this.handleResize();
    this.subscription = subscribe('resize', this.handleResize);
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  components: { ImageBg },
  props: {
    src: String,
  },
  data() {
    return {
      width: '100%',
    };
  },
  computed: {
    isMobile,
  },
  methods: {
    handleResize() {
      if (this.isMobile) {
        this.width = '100%';
      } else {
        const { left } = this.$el.getBoundingClientRect();
        this.width = `${innerWidth - left - 17}px`;
      }
    },
  },
};
</script>

<style scoped>
</style>
