<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 80 16" style="enable-background:new 0 0 80 16;" xml:space="preserve" class="more-icon">
    <path fill="currentColor" d="M78,8.4c0,3.6-2.9,6.5-6.6,6.5c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5 C75.1,1.9,78,4.8,78,8.4z"/>
    <rect x="2.9" y="7.4" fill="currentColor" width="68.6" height="2"/>
  </svg>
</template>

<script>
export default {
  name: 'more-icon',
};
</script>

<style scoped>
.more-icon {
  width: 2em;
}
</style>
