<template>
  <image-bg :src="src" class="header-photo" ratio="3:1">
    <div class="container">
      <img class="logo" :src="logo" />
    </div>
  </image-bg>
</template>

<script>
import logo from '@/assets/logo.svg';
import ImageBg from '../ImageBg';

export default {
  name: 'header-photo',
  components: { ImageBg },
  data() {
    return {
      logo,
    };
  },
  props: {
    src: String,
  },
};
</script>

<style scoped>
.header-photo::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));
}

.logo {
  position: absolute;
  width: 10%;
  max-width: 200px;
  height: auto;
  bottom: 2em;
  right: 2em;
}
</style>

