<template>
  <div class="menu-base" :class="{ 'menu-bg': float && !isOpen }">
    <div class="container">
      <menu-icon
        :isOpen="isOpen"
        :float="float"
        :style="{ transform: `translateX(${menuAdj})` }"
        @click="$store.commit('toogleMenu')"
        @resize="handleResize"
      />
    </div>
    <div class="menu bg-gray" :class="{ 'menu-open': isOpen }" :style="{ width: menuWidth }">
      <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/about">About</router-link></li>
        <li><router-link to="/news">News</router-link></li>
        <li><router-link to="/album">Album</router-link></li>
        <li><a :href="links.live" target="_blank">Live</a></li>
        <li><a :href="links.shop" target="_blank">Shop</a></li>
        <li><a href="http://hrwebapp.mediatek.inc/20th/#TC" target="_blank">20th Anniv.</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
import { subscribe } from 'subscribe-ui-event';
import links from '@/links';

// import max from 'lodash/max';
import MenuIcon from './MenuIcon';

const minMenuSize = 200;

export default {
  name: 'menu',
  components: { MenuIcon },
  mounted() {
    this.subscription = subscribe('scroll', this.handleScroll);
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  data() {
    return {
      menuWidth: `${minMenuSize}px`,
      menuAdj: 0,
      float: false,
      links,
    };
  },
  computed: {
    isOpen() {
      return this.$store.state.menuOpen;
    },
  },
  methods: {
    handleResize({ right }) {
      if (innerWidth > 640) {
        this.menuWidth = `${right}px`;
      } else this.menuWidth = '100%';
    },
    handleScroll() {
      const doc = document.documentElement;
      const top = (window.pageYOffset || doc.scrollTop) - (doc.clientTop || 0);
      this.float = top > 100;
    },
  },
};
</script>

<style scoped>
.menu-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: 0.5s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transition: 0.5s ease all;
  transform-origin: top right;
  transform: translateY(-100%);
  opacity: 0;
}

.menu-open {
  transform: translateY(0);
  opacity: 1;
}

.menu > ul {
  margin-top: 6em;
  text-align: left;
}

.menu-bg {
  background: rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 768px) {
  .menu {
    transform: scale(0);
  }

  .menu-open {
    transform: scale(1);
  }

  .menu > ul {
    margin-top: 12em;
    margin-right: 1em;
    text-align: right;
  }
}

.menu > ul > li {
  list-style: none;
  font-size: 1.5em;
}

.menu > ul > li > a {
  color: white;
  padding: 1.5rem;
  display: block;
  transition: 0.25s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.menu > ul > li > a:hover,
.menu > ul > li > a:active {
  transform: translateX(-0.5em);
}
</style>
