<template>
  <div :class="`menu-wrapper ${float && !isMobile ? 'menu-wrapper-float' : 'bg-gray'}`" @click="$emit('click')">
    <div :class="{ 'menu-icon': true, open: isOpen }">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-text">{{ isOpen ? 'Close' : 'Menu' }}</div>
  </div>
</template>

<script>
import { subscribe } from 'subscribe-ui-event';

import isMobile from '@/utils/isMobile';

export default {
  name: 'menu-icon',
  mounted() {
    this.subscription = subscribe('resize', this.handleResize);
    this.handleResize();
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  props: {
    isOpen: Boolean,
    float: Boolean,
  },
  computed: {
    isMobile,
  },
  methods: {
    handleResize() {
      this.$emit('resize', this.$el.getBoundingClientRect());
    },
  },
};
</script>

<style scoped>
.menu-wrapper {
  padding: 1.5em 2.5em;
  text-align: left;
  display: block;
  z-index: 1;
  position: relative;
  cursor: pointer;
  font-size: 50%;
  margin: 0 -2rem;
  color: white;
  transition: 0.5s ease;
}

.menu-wrapper.menu-wrapper-float {
  padding: 0.75em 1.5em;
}

.menu-text {
  display: none;
  text-transform: uppercase;
}

.menu-icon {
  width: 3em;
  height: 2.5em;
  position: relative;
  display: inline-block;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-wrapper-float .menu-icon {
  height: 1.75em;
}

@media screen and (min-width: 768px) {
  .menu-text {
    display: block;
    margin-top: -0.25em;
    font-weight: bold;
  }

  .menu-wrapper {
    font-size: 100%;
    margin: 0;
    display: inline-block;
    text-align: center;
    padding: 1em 1.5em;
  }

  .menu-icon {
    display: block;
  }
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 0.125em;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-icon.open {
  transform: scale(0.8);
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 0.75em;
}

.menu-icon span:nth-child(4) {
  top: 1.5em;
}

.menu-icon.open span:nth-child(1) {
  top: 0.75em;
  width: 0%;
  left: 50%;
}

.menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  top: 0.75em;
  width: 0%;
  left: 50%;
}

.menu-wrapper-float .menu-icon span:nth-child(2),
.menu-wrapper-float .menu-icon span:nth-child(3) {
  top: 0.5em;
}

.menu-wrapper-float .menu-icon span:nth-child(4) {
  top: 1em;
}
</style>
