<template>
  <slick :options="slickOptions">
    <div
      v-for="(slide, index) in headerSlideShow"
      :key="`img-${index}`"
    >
      <image-bg
        :src="slide.src"
        ratio="1440:380"
        :style="bannerStyle(slide)"
        @click="handleClick(slide)"
      />
    </div>
  </slick>
</template>

<script>
import Slick from 'vue-slick';
import 'slick-carousel/slick/slick.css';

import headerSlideShow from '@/assets/headerSlideShow';
import ImageBg from '../ImageBg';

export default {
  name: 'header-slide-show',
  components: {
    Slick,
    ImageBg,
  },
  data() {
    return {
      headerSlideShow,
      slickOptions: {
        arrows: false,
        dots: headerSlideShow.length > 1,
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 750,
      },
    };
  },
  methods: {
    bannerStyle({ link }) {
      if (link) return { cursor: 'pointer' };
      return {};
    },
    handleClick({ link }) {
      if (link) window.open(link);
    },
  },
};
</script>

<style scoped>

</style>

