<template>
  <div class="pic-bg-wrapper" :style="style" @click="$emit('click')">
    <div class="pic-bg" :style="{ backgroundImage: `url(${src})`, opacity: +loaded }" />
    <div v-if="!loaded && !error">
      <!-- <div class="bg-loading-overlay" /> -->
      <div class="bg-loading">
        <spinner :color="loaderColor" />
      </div>
    </div>
    <div v-else-if="error" class="bg-error">
      Error!
    </div>
    <slot />
  </div>
</template>

<script>
import Spinner from '../Spinner';

export default {
  name: 'image-bg',
  created() {
    const image = new Image();
    image.onload = this.imageLoaded;
    image.onerror = this.imageError;
    image.src = this.src;
    this.image = image;
  },
  beforeDestroy() {
    this.image = null;
  },
  components: { Spinner },
  props: {
    src: String,
    ratio: String,
    loaderColor: String,
  },
  data() {
    return {
      loaded: false,
      error: false,
    };
  },
  computed: {
    style() {
      if (this.ratio) {
        const [w, h] = this.ratio.split(':');
        return {
          paddingTop: `${(h / w) * 100}%`,
        };
      }
      return { height: '100%' };
    },
  },
  methods: {
    imageLoaded() {
      this.loaded = true;
    },
    imageError() {
      this.error = true;
    },
  },
};
</script>

<style scoped>
.pic-bg-wrapper {
  width: 100%;
  position: relative;
}

.pic-bg {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.25s ease;
}

.bg-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-loading-overlay {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(248, 154, 28, 0.5);
}
</style>
