<template>
  <div
    class="spinner"
    :style="{
      width: size,
      height: size,
      backgroundColor: color,
    }"
  />
</template>

<script>
import colors from '@/colors';

export default {
  name: 'spinner',
  props: {
    size: {
      type: String,
      default: '2em',
    },
    color: {
      type: String,
      default: colors.primary,
    },
  },
};
</script>

<style scoped>
.spinner {
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
</style>
