<template>
  <div :class="`bg-${color}-transparent big-banner`">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div style="padding: 5.5em 0;">
            <slot />
            <div style="margin-top: 2em">
              <more-button :text="action" :to="href" background="white" :color="moreColor" :cursor="cursor" />
            </div>
          </div>
        </div>
        <div class="col-sm-8 hidden-xs">
          <photo-extender :src="bg" />
        </div>
      </div>
    </div>
    <div class="visible-xs big-banner-bg" :style="{ backgroundImage: `url(${bg})` }"></div>
  </div>
</template>

<script>
import colors from '@/colors';
import MoreButton from '../MoreButton';
import PhotoExtender from '../PhotoExtender';

export default {
  name: 'big-photo-banner',
  components: { MoreButton, PhotoExtender },
  props: {
    bg: String,
    action: String,
    href: String,
    color: {
      type: String,
      default: 'primary',
    },
    preview: Boolean,
  },
  data() {
    return {
      colors,
    };
  },
  computed: {
    moreColor() {
      return this.colors[this.color];
    },
    cursor() {
      return this.preview ? 'default' : 'cursor';
    },
  },
};
</script>

<style scoped>
.big-banner {
  margin: 1em auto;
  position: relative;
}

.big-banner-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-size: cover;
}

</style>
