<template>
  <div class="row about-section">
    <div class="col-xs-12 col-sm-3">
      <div class="row between-xs middle-xs top-sm" :style="{ height: '100%' }">
        <div class="col-xs col-sm-6" :style="{ background: color, height: '100%' }">
          <div class="about-icon">
            <img :src="icon" />
            <h4 class="about-title hidden-xs">{{title}}</h4>
          </div>
        </div>
        <div class="col-xs visible-xs" :style="{ background: color, height: '100%' }">
          <h4 class="about-title">{{title}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 about-content">
      <slot />
    </div>
  </div>
</template>

<script>
import { subscribe } from 'subscribe-ui-event';

export default {
  name: 'about-content',
  mounted() {
    this.subscription = subscribe('scroll', this.handleOnScroll, { enableScrollInfo: true });
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  props: {
    color: String,
    icon: String,
    title: String,
  },
  methods: {
    handleOnScroll(e, { scroll: { delta } }) {
      const { top } = this.$el.getBoundingClientRect();
      const topSign = Math.sign(top);
      this.prevTop = this.prevTop || top;
      if (topSign !== Math.sign(this.prevTop) && topSign !== Math.sign(delta)) {
        this.$emit('onEnter');
      }
      this.prevTop = top;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.about-section {
  padding-top: 4em;
}

.about-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.about-title {
  color: white;
  text-align: right;
  margin: 0.5em 0;
  padding-right: 0.25em;
  font-size: 1.25em;
  font-weight: normal;
}

.about-content {
  padding: 1.5rem 0.5rem;
  color: #999999;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .about-icon {
    height: auto;
    width: 100%;
    padding: 0 10%;
    margin-top: 1em;
  }

  .about-title {
    color: white;
    text-align: center;
    padding-right: 0;
  }

  .about-content {
    padding-left: 2em;
  }
}

</style>
