<template>
  <div>
    <header-slide-show />
    <div class="container">
      <h2 class="section-title" style="margin-top: 1em;">ABOUT</h2>
      <hr />
      <about-content
        id="info"
        title="時間地點"
        :icon="aboutIcons.info.icon"
        :color="aboutIcons.info.color"
        @onEnter="onEnter('info')"
      >
        <table>
          <tbody>
            <tr>
              <td>日期：&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>11/18 (六)</td>
            </tr>
            <tr>
              <td>時間：&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>13:00~19:00</td>
            </tr>
            <tr>
              <td>地點：&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>新竹縣立體育場</td>
            </tr>
          </tbody>
        </table>
        <p :style="{ color: aboutIcons.info.color }">安排全球傳聖火、運動大競賽、百攤園遊會、兒童遊樂場以及壓軸的星空演唱會</p>
        <p :style="{ color: aboutIcons.info.color }">重要時刻邀請重要的你一同熱情參與</p>
        <img :src="photos.map" class="margin-bottom" />
        <img :src="photos.table1" />
      </about-content>
      <about-content
        id="games"
        title="比賽項目"
        :icon="aboutIcons.games.icon"
        :color="aboutIcons.games.color"
        @onEnter="onEnter('games')"
      >
        <img :src="photos.table3" />
      </about-content>
      <about-content
        id="fair"
        title="周邊活動"
        :icon="aboutIcons.fair.icon"
        :color="aboutIcons.fair.color"
        @onEnter="onEnter('fair')"
      >
       <img :src="photos.eventmap" class="margin-bottom" />
        <div class="row margin-bottom">
          <div class="col-xs-7">
            <img :src="photos.fair1" />
          </div>
          <div class="col-xs-5">
            <img :src="photos.table4" />
          </div>
        </div>
        <div class="row margin-bottom">
          <div class="col-xs-7">
            <img :src="photos.fair2" />
          </div>
          <div class="col-xs-5">
            <img :src="photos.table5" />
          </div>
        </div>
        <div class="row margin-bottom">
          <div class="col-xs-7">
            <img :src="photos.fair3" />
          </div>
          <div class="col-xs-5">
            <img :src="photos.table6" />
          </div>
        </div>
      </about-content>
      <about-content
        id="traffic"
        title="交通資訊"
        :icon="aboutIcons.traffic.icon"
        :color="aboutIcons.traffic.color"
        @onEnter="onEnter('traffic')"
      >
        <p :style="{ color: aboutIcons.traffic.color }">新竹縣立體育場</p>
        <p>新竹縣竹北市福興東路一段1號</p>
        <p :style="{ color: aboutIcons.traffic.color }">自行開車</p>
        <p>中山高速公路→竹北交流道下(91k)→光明六路東一段→莊敬南路→福興東路→新竹縣體育場</p>
        <p :style="{ color: aboutIcons.traffic.color }">廠區接駁專車</p>
        <img :src="photos.table8" />
        <p :style="{ color: aboutIcons.traffic.color }">停車資訊</p>
        <img :src="photos.parking" class="margin-bottom" />
        <img :src="photos.table7" />
        <p>以上停車場配置接駁車輛 </p>
      </about-content>
    </div>
  </div>
</template>

<script>
import HeaderSlideShow from '@/components/HeaderSlideShow';

import aboutIcons from '@/assets/aboutIcons';
import AboutContent from './AboutContent';

import photos from './photos';

export default {
  name: 'about',
  mounted() {
    const { slug } = this.$route.params;
    setTimeout(() => {
      if (slug) {
        document.querySelector(`#${slug}`).scrollIntoView();
      } else {
        document.querySelector('h2').scrollIntoView({ behavior: 'smooth' });
      }
    }, 100);
  },
  components: {
    AboutContent,
    HeaderSlideShow,
  },
  data() {
    return {
      aboutIcons,
      photos,
      scoreBorder: {
        borderBottom: `2px solid ${aboutIcons.traffic.color}`,
      },
    };
  },
  methods: {
    onEnter(slug) {
      this.$router.replace(`/about/${slug}`);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.score-table {
  margin-bottom: 2em;
  width: 100%;
}

.score-table td,
.score-table th {
  box-sizing: border-box;
}

.score-table thead th {
  font-size: 1.125em;
}

.score-table tbody td {
  font-weight: normal;
}

.margin-bottom {
  margin-bottom: 1em;
}
</style>
