<template>
  <div>
    <header-slide-show class="hidden-xs" />
    <div class="container">
      <h2 class="section-title" style="margin-top: 1em;">NEWS</h2>
      <news-with-photo
        v-for="item in news"
        :key="`preview-${item.slug}`"
        :id="item.slug"
        :date="item.date"
        :title="item.title"
        :text="item.content"
        :images="item.images"
        @onEnter="onEnter(item.slug)"
      />
    </div>
  </div>
</template>

<script>
import NewsWithPhoto from '@/components/News/NewsWithPhoto';
import HeaderSlideShow from '@/components/HeaderSlideShow';
import colors from '@/colors';
import news from './data';

export default {
  name: 'news',
  mounted() {
    const { slug } = this.$route.params;
    setTimeout(() => {
      if (slug) {
        document.querySelector(`#${slug}`).scrollIntoView();
      } else {
        document.querySelector('.section-title').scrollIntoView({ behavior: 'smooth' });
      }
    }, 100);
  },
  components: {
    NewsWithPhoto,
    HeaderSlideShow,
  },
  data() {
    return {
      colors,
      news,
    };
  },
  methods: {
    onEnter(slug) {
      this.$router.replace(`/news/${slug}`);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
