<template>
  <footer>
    <div class="container">
      <ul class="footer-links">
        <li><router-link to="/" class="primary">Home</router-link></li>
        <li :style="leftSep"><router-link to="/about" class="primary">About</router-link></li>
        <li :style="leftSep"><router-link to="/news" class="primary">News</router-link></li>
        <li :style="leftSep"><router-link to="/album" class="primary">Album</router-link></li>
        <li :style="leftSep"><a :href="links.live" target="_blank" class="primary">Live</a></li>
        <li :style="leftSep"><a :href="links.shop" target="_blank" class="primary">Shop</a></li>
        <li :style="leftSep"><a href="http://hrwebapp.mediatek.inc/20th/#TC" target="_blank" class="secondary">MediaTek 20th</a></li>
      </ul>
    </div>
    <div class="bg-primary">
      <div class="container text-right">
        <span class="legal">©MEDIATEK 2017. All rights reserved.</span>
      </div>
    </div>
  </footer>
</template>

<script>
import colors from '@/colors';
import links from '@/links';

export default {
  name: 'footer',
  data() {
    return {
      links,
      leftSep: {
        borderLeft: `2px solid ${colors.primary}`,
      },
    };
  },
};
</script>

<style scoped>
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
}

.footer-links > li {
  list-style: none;
  padding: 0.25em 1em;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
}

.legal {
  line-height: 4;
}
</style>
