<template>
  <div>
    <header-slide-show />
    <div class="container">
      <h2 class="section-title" style="margin-top: 1em;">ALBUM</h2>
      <waterfall line="v" :line-gap="gap" :watch="items" @reflowed="reflowed">
        <waterfall-slot
          v-for="(item, index) in items"
          :width="item.width"
          :height="item.height"
          :order="index"
          :key="`photo-${index}`"
          class="waterfall-image"
        >
          <div @click="openLightBox(index, item.slug)" style="height: 100%">
            <image-bg :src="item.src" class="clickable" />
            <play-icon v-if="item.video" class="play-icon" size="4em" />
          </div>
        </waterfall-slot>
      </waterfall>
    </div>
    <light-box
      :style="{ opacity: +lightBoxOpen, pointerEvents: lightBoxOpen ? 'all' : 'none' }"
      :item="activeItem"
      :current="currentIndex"
      :total="items.length"
      @prev="handlePrev"
      @next="handleNext"
      @close="closeLightBox"
    />
  </div>
</template>

<script>
import Waterfall from 'vue-waterfall/lib/waterfall';
import WaterfallSlot from 'vue-waterfall/lib/waterfall-slot';
import { subscribe } from 'subscribe-ui-event';

import HeaderSlideShow from '@/components/HeaderSlideShow';
import ImageBg from '@/components/ImageBg';
import PlayIcon from '@/components/PlayIcon';
import isMobile from '@/utils/isMobile';

import LightBox from './LightBox';
// import randomPhotos from './randomPhotos';
import photos from './photos';

export default {
  name: 'album',
  components: {
    Waterfall,
    WaterfallSlot,
    HeaderSlideShow,
    ImageBg,
    LightBox,
    PlayIcon,
  },
  mounted() {
    this.container = this.$el.querySelector('.container');
    this.resizeSubscription = subscribe('resize', this.handleResize);
    this.handleResize();

    const { slug } = this.$route.params;
    setTimeout(() => {
      if (slug) {
        this.openLightBox(this.items.findIndex(item => item.slug === slug));
      }
    }, 100);
  },
  beforeDestroy() {
    this.resizeSubscription.unsubscribe();
  },
  data() {
    return {
      items: photos.slice().reverse(),
      isBusy: false,
      gap: 300,
      currentIndex: 0,
      lightBoxOpen: false,
    };
  },
  computed: {
    activeItem() {
      return this.items[this.currentIndex];
    },
  },
  methods: {
    reflowed() {
      this.isBusy = false;
    },
    handleResize() {
      const { width } = this.container.getBoundingClientRect();
      const padding = 80;
      if (isMobile()) {
        this.gap = ((width - padding) / 2);
      } else {
        this.gap = ((width - padding) / 4);
      }
    },
    openLightBox(index, slug) {
      this.currentIndex = index;
      this.lightBoxOpen = true;
      this.$router.replace(`/album/${slug}`);
    },
    closeLightBox() {
      this.lightBoxOpen = false;
      this.$router.replace('/album');
    },
    handlePrev() {
      if (this.currentIndex === 0) {
        this.currentIndex = this.items.length - 1;
      } else {
        this.currentIndex -= 1;
      }
    },
    handleNext() {
      if (this.currentIndex === this.items.length - 1) {
        this.currentIndex = 0;
      } else {
        this.currentIndex += 1;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.waterfall-image {
  padding: 0.25em;
}

.clickable::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(248, 154, 28, 0.5);
  opacity: 0;
  transition: 0.25s ease;
}

.clickable:hover::after {
  opacity: 1;
}

.play-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
