<template>
  <div class="light-box-overlay">
    <div class="light-box-content">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-1">
            <img :src="arrowLeft" @click="handleEmit('prev')" class="clickable" />
          </div>
          <div class="col-xs-10 col-sm-8 col-sm-offset-1">
            <div class="light-box-image-wrapper">
              <youtube v-if="item.youtube" :video-id="item.youtube" @ready="ready" player-width="100%"></youtube>
              <player
                v-else-if="item.video"
                :key="item.src"
                class="video-player"
                ref="player"
                :sources="[{
                  src: item.video,
                  type: 'video/mp4',
                }]"
                :options="{
                  autoplay: false,
                  poster: item.src,
                }"
              />
              <img v-else class="light-box-image" :src="item.src" />
              <img class="close-btn clickable" :src="closeBtn" @click="handleEmit('close')" />
            </div>
            <p class="light-box-text">{{ item.text }}</p>
          </div>
          <div class="col-xs-1 col-sm-offset-1">
            <img :src="arrowLeft" @click="handleEmit('next')" class="arrow-next clickable" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Player from 'vue-video';
import arrowLeft from './left-arrow.svg';
import closeBtn from './close-btn.svg';

export default {
  name: 'lightbox',
  props: {
    item: Object,
    current: Number,
    total: Number,
  },
  components: {
    Player,
  },
  watch: {
    item(val) {
      this.$router.replace(`/album/${val.slug}`);
    },
  },
  beforeDestroy() {
    this.stopVideo();
  },
  data() {
    return {
      arrowLeft,
      closeBtn,
    };
  },
  methods: {
    ready(player) {
      this.player = player;
    },
    stopVideo() {
      if (this.player) this.player.stopVideo();
      if (this.$refs.player) this.$refs.player.$video.pause();
    },
    handleEmit(type) {
      this.$emit(type);
      this.stopVideo();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.light-box-overlay {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.light-box-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 3em 0;
  transform: translateY(-50%);
}

.arrow-next {
  transform: rotate(180deg);
}

.light-box-image-wrapper {
  position: relative;
  text-align: center;
}

.light-box-image {
  max-height: 80vh;
  max-width: 100%;
  width: auto;
}

.close-btn {
  font-size: 2em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 1em;
  height: 1em;
}

.light-box-text {
  color: white;
  font-size: 1.125em;
}
</style>
