<template>
  <div class="row middle-xs">
    <div class="col-xs-6 col-sm-12">
      <h2 class="section-title" :style="{ color: moreColor }">{{title}}</h2>
    </div>
    <div class="col-xs-6 col-sm-12">
      <div class="more-wrapper">
        <more-button :background="moreColor" :to="to" />
      </div>
    </div>
  </div>
</template>

<script>
import colors from '@/colors';
import MoreButton from '../MoreButton';

export default {
  name: 'section-title-more',
  components: { MoreButton },
  props: {
    title: String,
    to: String,
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      colors,
    };
  },
  computed: {
    moreColor() {
      return this.colors[this.color];
    },
  },
};
</script>

<style scoped>
.more-wrapper {
  margin-bottom: 2em;
}
</style>
