<template>
  <div class="news">
    <p class="news-date">{{formattedDate}}<span class="hidden-xs"> {{formattedYear}}</span></p>
    <router-link v-if="to" :to="to">
      <h4 class="news-title">{{title}}</h4>
    </router-link>
    <h4 v-else class="news-title">{{title}}</h4>
    <router-link v-if="to" :to="to">
      <p class="news-text">{{text}}</p>
    </router-link>
    <p v-else class="news-text">{{text}}</p>
    <hr v-if="divider" />
  </div>
</template>

<script>
import format from 'date-fns/format';

export default {
  name: 'news-preview',
  props: {
    title: String,
    date: String,
    to: String,
    text: String,
    divider: Boolean,
  },
  computed: {
    formattedDate() {
      return format(this.date, 'MMM DD.');
    },
    formattedYear() {
      return format(this.date, 'YYYY');
    },
  },
};
</script>

<style scoped>
.news-text {
  white-space: pre-line;
  line-height: 1.5;
}

.news-date {
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  margin-bottom: 0.5rem;
}

.news-title {
  font-size: 1.5em;
  margin: 0.5rem 0 1.5rem;
  color: black;
}

.news-text {
  color: #858585;
  margin-bottom: 1.5rem;
  letter-spacing: 0.125em;
  text-align: justify;
  font-size: 1em;
}

.more {
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  margin: 1em 0;
}

.more > * {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .hidden-xs {
    display: inline;
  }
}

</style>
