<template>
  <div class="row">
    <div class="col-xs-12 col-sm-5 news-photo">
      <div style="height: 100%">
        <slick :options="slickOptions" v-if="loaded">
          <img
            v-for="(src, index) in images"
            :key="`img-${index}`"
            :src="src"
            class="slick-image"
          />
        </slick>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <news
        :title="title"
        :date="date"
        :text="text"
      />
    </div>
    <hr class="news-divider" />
  </div>
</template>

<script>
import Slick from 'vue-slick';
import 'slick-carousel/slick/slick.css';
import { subscribe } from 'subscribe-ui-event';

import News from './NewsPreview';

export default {
  name: 'news-with-photo',
  beforeMount() {
    const tasks = this.images.map(src => new Promise((resolve) => {
      const img = new Image();
      img.onload = () => resolve(img);
      img.onerror = () => resolve(img);
      img.src = src;
    }));
    Promise.all(tasks).then((imgObjects) => {
      this.imgObjects = imgObjects;
      this.loaded = true;
    });
  },
  props: {
    title: String,
    date: String,
    to: String,
    text: String,
    images: Array,
  },
  data() {
    return {
      loaded: false,
    };
  },
  mounted() {
    this.subscription = subscribe('scroll', this.handleOnScroll, { enableScrollInfo: true });
  },
  beforeDestroy() {
    this.subscription.unsubscribe();
  },
  components: { News, Slick },
  computed: {
    slickOptions() {
      return {
        arrows: false,
        dots: this.images.length > 1,
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 750,
        adaptiveHeight: true,
      };
    },
  },
  methods: {
    handleOnScroll(e, { scroll: { delta } }) {
      const { top } = this.$el.getBoundingClientRect();
      const topSign = Math.sign(top);
      this.prevTop = this.prevTop || top;
      if (topSign !== Math.sign(this.prevTop) && topSign !== Math.sign(delta)) {
        this.$emit('onEnter');
      }
      this.prevTop = top;
    },
  },
};
</script>

<style scoped>
.news-photo {
  margin: 2em 0 3em;
}

.news-divider {
  width: 100%;
  margin: 2em auto;
}

.slick-image {
  height: auto;
}

</style>
