<template>
  <div id="app">
    <the-menu />
    <router-view></router-view>
    <the-footer />
  </div>
</template>

<script>
import TheMenu from '@/components/Menu';
import TheFooter from '@/components/Footer';
import 'flexboxgrid/dist/flexboxgrid.css';

export default {
  name: 'app',
  components: {
    TheMenu,
    TheFooter,
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Overpass:400,900');
body {
  font-family: Overpass, 'Noto Sans TC', sans-serif;
}

#app {
 font-size: 12px;
}

@media screen and (min-width: 768px) {
  #app {
    font-size: 14px;
  }
}

/* setup start */

.bg-primary {
  background-color: rgb(248, 154, 28);
  color: white;
}

.bg-primary-transparent {
  background-color: rgba(248, 154, 28, 0.6);
  color: white;
}

.bg-secondary {
  background-color: rgb(80, 184, 72);
  color: white;
}

.bg-gray {
  background-color: rgba(190, 190, 190,0.95);
  color: white;
}

.bg-secondary-transparent {
  background-color: rgba(80, 184, 72, 0.6);
  color: white;
}

@media screen and (min-width: 768px) {
  .bg-primary-transparent {
    background-color: rgb(248, 154, 28);
  }
  .bg-secondary-transparent {
    background-color: rgb(80, 184, 72);
  }
}

.color-primary {
  color: rgb(248, 154, 28);
}

.color-secondary {
  color: rgb(80, 184, 72);
}

a {
  text-decoration: none;
  color: rgb(248, 154, 28);
}

a.secondary {
  color: rgb(80, 184, 72);
}

ul {
  padding-left: 0;
}

img {
  width: 100%;
}

h4 {
  font-size: 1.5em;
  margin: 1rem 0;
  letter-spacing: 0.2em;
}

.section-title {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: rgb(248, 154, 28);
  margin: 1rem auto;
}

.section-title.color-secondary {
  color: rgb(80, 184, 72);
}

.clickable {
  cursor: pointer;
}
/* setup end */

/* layouts start */
#app {
  width: 100%;
  height: 100%;
  padding-top: 4em;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
}

.full-height {
  height: 100vh;
}

.text-right {
  text-align: right;
}

.hidden-xs {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  #app {
    padding-top: 0;
  }

  .visible-xs {
    visibility: hidden;
    display: none;
  }

  .hidden-xs {
    visibility: visible;
    display: inherit;
  }
}

.text-left {
  text-align: left;
}
/* layouts end */


/* slick-setting start */
.slick-dots {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
}

.slick-dots > li {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
}

.slick-dots > li > button {
  font-size: 0;
  width: 100%;
  height: 100%;
  background: white;
  border: 0.2rem solid black;
  border-radius: 50%;
  line-height: 0;
  padding: 0;
}

.slick-dots > li.slick-active > button {
  background: black;
}

.news-photo .slick-dots {
  bottom: 1em;
  left: 0;
  font-size: 1em;
  justify-content: flex-end;
  padding-right: 1em;
}

.news-photo .slick-dots > li > button {
  background: none;
  border: 0.1rem solid rgb(248, 154, 28);
}

.slick-dots > li.slick-active > button {
  background: rgb(248, 154, 28);
}

@media screen and (min-width: 768px) {
  .news-photo .slick-dots {
    bottom: -3em;
    justify-content: flex-start;
  }
}

/* slick-setting end */

.video-player .container {
  padding: 0;
  width: 100%;
}

.video-player video {
  height: auto;
}

</style>
