<template>
  <div>
    <header-slide-show />
    <div class="container">
      <h2 class="section-title" style="margin-top: 1.5rem;">ABOUT</h2>
      <div class="row" style="margin: 2rem auto 1rem;">
        <quick-link-item
          v-for="(link, index) in quickLinks"
          :key="`quick-link-${index}`"
          :src="link.src"
          :text="link.text"
          :to="link.to"
        />
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-10">
              <section-title-more title="NEWS" to="/news" />
              <hr/>
              <news-preview
                v-for="item in news"
                :key="`preview-${item.slug}`"
                :to="`/news/${item.slug}`"
                :date="item.date"
                :title="item.title"
                :text="`${item.content.substr(0, 52)}...`"
                :divider="true"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <section-title-more title="ALBUM" to="/album" color="secondary" />
              <div class="albums row">
                <div
                  v-for="(photo, index) in photos"
                  :key="`photo-${index}`"
                  class="side-photo col-sm-6"
                >
                  <image-bg :src="photo.src" ratio="464:348" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <big-photo-banner
      :bg="shop"
      action="Shop Now"
      :href="links.shop"
      style="margin-top: 4em"
    >
      <PbBox
        title="SHOP"
        subtitle="好物商城"
      />
    </big-photo-banner>
    <big-photo-banner
      :bg="live"
      action="Watch Live"
      :href="links.live"
      color="secondary"
    >
      <PbBox
        title="LIVE"
        subtitle="運動會直播"
      />
    </big-photo-banner>
  </div>
</template>

<script>
import takeRight from 'lodash/takeRight';
import take from 'lodash/take';
import MoreButton from '@/components/MoreButton';
import SectionTitleMore from '@/components/SectionTitleMore';
import BigPhotoBanner from '@/components/BigPhotoBanner';
import HeaderSlideShow from '@/components/HeaderSlideShow';
import ImageBg from '@/components/ImageBg';
import NewsPreview from '@/components/News/NewsPreview';
import aboutIcons from '@/assets/aboutIcons';
import colors from '@/colors';
import links from '@/links';
import QuickLinkItem from './QuickLinkItem';
import PbBox from './PbBox';
import news from '../NewsPage/data';
import photos from '../AlbumPage/photos';
import live from './live-m.jpg';
import shop from './shop-m.jpg';

export default {
  name: 'home',
  components: {
    QuickLinkItem,
    NewsPreview,
    MoreButton,
    HeaderSlideShow,
    BigPhotoBanner,
    SectionTitleMore,
    PbBox,
    ImageBg,
  },
  data() {
    return {
      live,
      shop,
      colors,
      links,
      photos: takeRight(photos, 6),
      quickLinks: [
        {
          src: aboutIcons.info.icon,
          text: '時間地點',
          to: '/about/info',
        },
        {
          src: aboutIcons.games.icon,
          text: '比賽項目',
          to: '/about/games',
        },
        {
          src: aboutIcons.fair.icon,
          text: '周邊活動',
          to: '/about/fair',
        },
        {
          src: aboutIcons.traffic.icon,
          text: '交通資訊',
          to: '/about/traffic',
        },
      ],
      news: take(news, 4),
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.side-photo {
  margin: 1.25em 0;
}

.side-photo:first-of-type,
.side-photo:nth-of-type(2) {
  margin-top: 0.25em;
}

.big-banner-title {
  font-size: 5em;
  margin: 0;
  letter-spacing: 0.125em;
}

.albums {
  margin-top: 0;
}

</style>
