<template>
  <div>
    <h2 class="pb-box-title">{{title}}</h2>
    <h4 class="pb-box-subtitle">{{subtitle}}</h4>
  </div>
</template>

<script>
import pbPlus from '@/assets/pb-plus.svg';

export default {
  name: 'pb-box',
  data() {
    return {
      pbPlus,
    };
  },
  props: {
    title: String,
    subtitle: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pb-logo {
  max-width: 15rem;
}

.pb-box-title {
  font-size: 5em;
  margin: 0;
  letter-spacing: 0.125em;
}

.pb-box-subtitle {
  margin-top: 0;
}
</style>
