<template>
  <div class="quick-link col-xs-6 col-sm-3">
    <router-link :to="to">
      <div class="link-image">
        <img :src="src" :alt="text" />
      </div>
      <span class="quick-link-text">{{ text }}</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'quick-link-item',
  props: {
    src: String,
    text: String,
    to: String,
  },
};
</script>

<style scoped>
.quick-link {
  text-align: center;
  font-size: 1.25em;
}

.link-image {
  width: 6rem;
  margin: 0 auto;
}

.quick-link-text {
  color: #333333;
  font-weight: normal;
  line-height: 4;
  letter-spacing: 0.4em;
  display: inline-block;
}
</style>
